* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #011627;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
@font-face {
  font-family: noe-display;
  src: url(./fonts/noe-display/NoeDisplay-Bold.otf);
}
header {
  position: relative;
  background-image: url(./images/nt-header-img.png);
  width: 100%;
  height: 120vh;
  background-size: cover;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
}

.header-btn {
  margin-left: 35px;
  position: relative;
}
button {
  padding: 18px 55px;
  border: none;
  border-radius: 48px;
  box-shadow: 5px 15px 40px 0 #00c9e033;
  color: #fff;
  background-color: #00c9e0;
  box-sizing: content-box;
  transition: 0.5s;
}
button:hover {
  color: red;
  font-size: medium;
}
.header-btn-hr {
  position: absolute;
  top: 50%;
  right: -10%;
  width: 30px;
  border-bottom: 2px solid #fff;
}
.header-text {
  text-align: center;
  color: #ffffff;
  width: 643px;
  margin: 0 auto;
}
.header-text h1 {
  font-family: noe-display;

  font-size: 120px;
  line-height: 153px;
}
@font-face {
  font-family: larsseit;
  src: url(./fonts/larsseit-font-family/LarsseitLight.otf);
}
.header-text h4 {
  padding-bottom: 40px;
  font-family: larsseit;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 2px;
}
@font-face {
  font-family: Larsseit;
  src: url(./fonts/larsseit-font-family/LarsseitThin.otf);
}
.header-text p {
  font-family: Larsseit;
  font-weight: 400;
  font-size: 17px;
  line-height: 25px;
}

.header-logos {
  padding-top: 2%;

  align-items: center;
  display: flex;
  justify-content: space-between;
}
.logos {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 40px;
}
.header-logos h6 {
  position: relative;
  font-weight: 700;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 5%;
  color: #ffffff90;
  rotate: -90deg;
}
.scroll-hr {
  position: absolute;
  top: -54%;
  left: -97%;
  border-bottom: 2px solid #00c9e0;
  width: 2px;
  height: 60px;
  rotate: 90deg;
}
.gradient {
  position: absolute;
  bottom: -21%;
  width: 100%;
  height: 300px;
  background-image: linear-gradient(#01162700 0%, #011627 100%, #011627 100%);
}
main {
  position: relative;
}
.trip {
  padding: 0 100px;
  position: relative;
}
.pick {
  width: 100%;
  height: 1000px;
  background-color: #011627;
}
.pick-trip {
  display: flex;
  gap: 40px;
  height: 150px;
  align-items: center;
}
.pick-trip h3 {
  font-family: noe-display;
  font-size: 72px;
  line-height: 79px;
  color: #fff;
}
.pick-trip p {
  font-family: Larsseit;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  width: 394px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.chill ul {
  display: flex;
  justify-content: space-evenly;
}
.chill ul li a {
  position: relative;
  z-index: 2;
  padding: 10px 20px;
  font-family: Larsseit;
  font-size: 16px;
  line-height: 17px;
  color: #ffffff50;
}
#first-a {
  font-family: larsseit;
  font-size: 18px;
  color: #41ead4;
}
.chill-hr {
  margin-top: 30px;
  margin-bottom: 80px;
  width: 100%;
  height: 2px;
  background-image: linear-gradient(to right, #41ead4 30%, #41ead430 30% 100%);
  border-radius: 13px;
}
.grand {
  display: flex;
  gap: 30px;
  align-items: center;
}

.grand-back {
  width: 480px;
  height: 600px;
  position: relative;
  background-image: url(./images/grand.png);
  background-size: cover;
  z-index: 2;
}
.grand-back-text {
  width: 204px;
  position: absolute;
  top: 50%;
  left: -16%;
  transform: translate(0, -50%);
  border-radius: 16px;
}
.grand-back-text h5 {
  font-family: larsseit-bold;

  font-size: 24px;
  line-height: 36px;
  color: #41ead4;
}
@font-face {
  font-family: larsseit-bold;
  src: url(./fonts/larsseit-font-family/LarsseitBold.otf);
}
.grand-back-text h4 {
  font-family: larsseit-bold;

  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
}
.dots {
  position: absolute;
  left: -17%;
  bottom: -15%;
}
.arrow {
  position: absolute;
  bottom: -42px;
  right: -15px;
}
.grand-text {
  width: 480px;
  margin: 0 auto;
  padding: 8px;

  /* box-shadow: 508px 240px 300px #41ead450; */
}
.grand-text h2 {
  font-family: noe-display;
  font-size: 65px;
  line-height: 71px;
  color: #ffffff;
  padding-bottom: 20px;
}

.grand-text h5,
.grand-text p {
  font-family: Larsseit;
  font-size: 17px;
  line-height: 25px;
  color: #ffffff;
  padding-bottom: 20px;
}
.grand-btn {
  position: relative;
  z-index: 2;
}
.btn-hr {
  position: absolute;
  top: 50%;
  right: -5%;
  width: 30px;
  border-bottom: 2px solid #fff;
}
.grand-social {
  position: absolute;
  right: 1%;
  bottom: -7%;
}
.grand-social p {
  color: #fff;
  padding-bottom: 15px;
}
.grand-social a {
  z-index: 2;
  position: relative;
  padding-left: 3px;
}
.socials-line {
  position: absolute;
  right: -13%;
  bottom: -16%;
  z-index: 1;
}
.about {
  position: relative;

  padding-top: 80px;
  padding-bottom: 200px;
  width: 100%;
  background-color: #011627;
  height: 950px;
}
.about-section {
  display: flex;
  align-items: center;
  gap: 38px;
}

.about-us h2 {
  font-family: noe-display;
  font-size: 72px;
  line-height: 79px;
  color: #fff;
  padding-bottom: 22px;
}
.about-us h4 {
  position: relative;
  z-index: 2;
  font-family: larsseit;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  padding-bottom: 25px;
}
.about-us p {
  position: relative;
  z-index: 2;
  font-family: Larsseit;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  padding-bottom: 15px;
}
.martin {
  position: relative;
}
.jack {
  position: absolute;
  left: -7%;
  top: 33%;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  width: 186px;
}
.jack h4 {
  color: #000;
  padding: 26px 15px;
}
.jack a {
  color: #00bdd3;
}

.about-img {
  position: relative;
  z-index: 20;
}
.about-dots {
  position: absolute;
  right: -1%;
  top: 21%;
  z-index: 2;
}
.people {
  position: relative;
}

.people-container {
  max-width: 1250px;
  margin: 0 auto;
  position: relative;
  background-color: #011627;
}
.people-container h2 {
  font-family: noe-display;
  font-size: 4em;
  line-height: 2em;
  color: #fff;
  text-align: center;
}
.people-container h4 {
  font-family: larsseit;
  font-size: 1.3em;
  line-height: 2em;
  letter-spacing: 3px;
  color: #fff;
  text-align: center;
}
.people-cards {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
}
.people-card {
  padding: 30px 80px;
  background-color: #02223b;
  box-shadow: 0px 20px 30px #00c9e008;
}
.quote {
  transform: translateX(-16%);
  display: flex;
  gap: 30px;
}
.people-card h5 {
  max-width: 328px;
  font-family: larsseit;
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  padding-top: 15px;
  padding-bottom: 15px;
}
.people-card p {
  max-width: 332px;
  font-family: Larsseit;
  font-size: 18px;
  line-height: 34px;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #fff;
}
.judy {
  display: flex;
  gap: 10px;
  align-items: center;
}
.judy h6 {
  width: 187px;
  font-family: larsseit;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  color: #fff;
}
.footer-background {
  position: absolute;
  top: 52%;
  z-index: -1;
  width: 100%;
  height: 1500px;
  background-color: #011627;
}
footer h2 {
  font-family: noe-display;
  font-size: 4em;
  line-height: 3em;
  text-align: center;
  color: #fff;
}
footer h4 {
  width: 323px;
  text-align: center;
  font-family: larsseit;
  font-size: 1.2em;

  margin: 0 auto;
  color: #fff;
  letter-spacing: 2px;
}
.line {
  width: 2px;
  height: 80px;
  background-image: linear-gradient(#09f4f4 100%, #00c9e0 100%);
  margin: 90px auto 60px auto;
}
.footer-lits {
  display: flex;
  gap: 6%;
  justify-content: center;
}
.footer-item li,
.footer-item img {
  padding-bottom: 20px;
}
.footer-item li {
  font-family: Larsseit;
  font-size: 15px;
  line-height: 19px;
  color: #fff;
  transition: 0.2s;
}
.footer-item li:first-child {
  font-family: larsseit;
  font-size: 18px;
  line-height: 23px;
}
.footer-item li:hover {
  cursor: pointer;
  font-style: italic;
  color: rgb(184, 48, 7);
}
footer h5 {
  font-family: Larsseit;
  font-size: 15px;
  line-height: 25px;
  text-align: center;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 20px;
}
.footer-logo {
  position: relative;
  left: 48%;
}
footer {
  position: relative;
}
.footer-gradient {
  width: 100%;
  background-image: linear-gradient(#01162700 0%, #011627 100%, #011627 100%);
}
